* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Annie Use Your Telescope', cursive;
    user-select: none;
}

.welcome {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20dvh;
    background: url('bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome h1 {
    font-size: 8rem;
    font-weight: 600;
    color: #fff;
    animation: text-shadow-drop-center 1s ease-in-out infinite alternate-reverse both;

}

.welcome h4 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #e6e6e6;
    margin-bottom: 3rem;
    animation: text-shadow-drop-center 1s ease-in-out infinite alternate-reverse both;

}

.icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
    font-size: 1.5rem;
    filter: invert(1) brightness(0.7);
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    filter: invert(1) brightness(1);
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
}


.buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #00000036;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    font-weight: 700;
}

.buttons a:hover {
    background: #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.buttons a:nth-child(2):hover {
    background: #0078d4;
    border: 1px solid #0078d4;
    color: #ffffff;
}

.buttons a:nth-child(3):hover {
    background: #34a853;
    border: 1px solid #34a853;
    color: #ffffff;
}

.text-shadow-drop-center {}

@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 rgba(99, 17, 200, 0);
    }

    100% {
        text-shadow: 0 0 18px rgba(10, 38, 181, 0.508);
    }
}